body {
	background-color: rgba(238, 4, 4, 0.726);
}

a,
.delete,
.add {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

h2 {
	font-weight: 900;
}

.graphic {
	position: absolute;
	top: 45%;
	left: 47%;
}

.graphicHolder {
	text-align: center;
}

/* four corners */
.header {
	position: absolute;
	left: 20px;
	top: 20px;
}

.user {
	position: absolute;
	right: 20px;
	top: 20px;
}

.trade {
	position: absolute;
	bottom: 15px;
	left: 20px;
}

.about {
	position: absolute;
	bottom: 15px;
	right: 20px;
}






.tradeDisplay {
	position: absolute;
	bottom: 15px;
	right: 20px;
}



.itemsContainer {
	position: absolute;
	left: 25%;
	top: 65%;
}

.needsContainer {
	position: absolute;
	left: 25%;
	top: 65%;
	left: 70%;
	top: 20%;
}

.newItemDescription {
	width: 35%;
}




#yes {
	position: absolute;
	top: 30%;
	left: 48.2%;
}

#no {
	position: absolute;
	bottom: 33%;
	left: 48.2%;
}

.hidden {
	display: none;
}
