body {
 
  background-color: rgba(238, 4, 4, 0.726);
}

a {
	text-decoration: none;
  color: white;
}

h2 {
	font-weight: 900;
}

.graphic {
	position: absolute;
	top: 45%;
	left: 47%;
}

.graphicHolder {
	text-align: center;
}

/* four corners */
.header {
	position: absolute;
	left: 20px;
	top: 20px;
}

.data {
	position: absolute;
	left: 20px;
	top: 20px;
}

.user {
	position: absolute;
	right: 20px;
	top: 20px;
}

.trade {
	position: absolute;
	bottom: 15px;
	left: 20px;
}

.about {
	position: absolute;
	bottom: 15px;
	right: 20px;
}

.hidden {
  display: none;
}

